<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174279244176-gg4sginggo846smtsdj24mode6p5r3d1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174279244176-gg4sginggo846smtsdj24mode6p5r3d1</string>
	<key>API_KEY</key>
	<string>AIzaSyBkQ9bHJiuQ1Yf_Uc98rehX-eTMNGXpuhc</string>
	<key>GCM_SENDER_ID</key>
	<string>174279244176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexApps.zouqAdmin</string>
	<key>PROJECT_ID</key>
	<string>zouq-client</string>
	<key>STORAGE_BUCKET</key>
	<string>zouq-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174279244176:ios:e2958054cb3694dc745b15</string>
	<key>DATABASE_URL</key>
	<string>https://zouq-client.firebaseio.com</string>
</dict>
</plist>